:root {
  --color-brown: #884a39;
  --color-caramel: #c38154;
  --color-peach: #ffc26f;
  --color-cream: #f9e0bb;
  --color-beige: #f8f3ea;
  --color-white: #fdfaf5;
  --color-dark-brown: #2b2522;

  --color-green: #22c55e;
  --color-orange: #f59e0b;
  --color-red: #ef4444;
}

* {
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-beige);
  color: var(--color-dark-brown);
}
p,
label {
  font-weight: 600;
  color: var(--color-brown);
  font-size:large;
}
.page {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-dark-brown);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.message {
  background-color: var(--color-beige);
  box-shadow: 0 0 20px var(--color-brown);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

div.content {
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 0 0 10px var(--color-brown);
  width: fit-content;
  box-sizing: border-box;
}

.invitation-img {
  display: block;
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

input {
  border: 1px solid var(--color-brown);
  border-radius: 8px;
  width: 300px;
  height: 40px;
  color: var(--color-dark-brown);
  padding: 5px;
}

input:focus {
  border: 2px solid var(--color-dark-brown);
  outline: none;
}

button {
  color: var(--color-white);
  padding: 10px 16px;
  border-radius: 8px;
  width: fit-content;
  max-width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  font-size: medium;
  font-weight: 600;
}

button:disabled {
  cursor: not-allowed;
  background-color: gray !important;
  border: 1px solid gray !important;
}
button:enabled:hover {
  opacity: 0.8;
}

@media (max-width: 575.98px) {
  button {
    padding: 6px 10px;
    font-size: 14px;
  }
}
